<ng-container *ngIf="tracks?.length">
  <h1 mat-dialog-title>Choose Tracks to add to playlist</h1>
  <div mat-dialog-content>
    <div class="tracks-wrap">
      <ng-container *ngIf="tracks">
        <ng-container *ngFor="let track of tracks">
          <app-track-line-item (trackDismissed)="onTrackDismissed($event)" (trackSelected)="onTrackSelected($event)"
            [track]="track" [allowSelection]="true" [allowActions]="[]"></app-track-line-item>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="warn" (click)="close()">Close</button>
    <button mat-button mat-raised-button color="primary" (click)="done()">Done</button>
  </div>
</ng-container>
<ng-container *ngIf="!tracks?.length">
  All existing tracks have already been added to your playlist
  <a routerLink="/new-track" (click)="close()">
    <button mat-button mat-raised-button color="primary">
      <mat-icon>add_circle</mat-icon>
      Add more tracks
    </button>
  </a>
</ng-container>