.playlists-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  .playlist-wrapper {
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 226px;
    flex: 1 0 20%;
    img {
      height: 226px;
      width: 226px;
      object-fit: cover;
      border-radius: 4px;
    }
    .info-wrapper {
      width: 226px;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        &.playlist-name {
          font-size: large;
          font-weight: 500;
        }
        &.playlist-meta {
          color: gray;
        }
      }
    }
  }
}
.action {
  width: 226px;
}
.mat-dialog-actions {
  justify-content: space-between;
}
mat-checkbox {
  justify-content: center;
  display: flex;
}
