<ng-container *ngIf="playlists?.length">
  <h1>All Playlists</h1>
  <div class="playlists-wrap">
    <ng-container *ngIf="playlists.length">
      <div *ngFor="let playlist of playlists" class="playlist-wrapper" (click)="goToPlaylist(playlist.id)">
        <img [src]='playlist.playlist_cover.url | mpImage' alt="">
        <div class="info-wrapper">
          <p class="playlist-name">{{playlist.name}}</p>
          <p class="playlist-meta">Playlist - {{playlist?.tracks?.length || 0}} Songs</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="fixed-bottom-right">
    <button mat-button mat-raised-button color="primary" (click)="goToNewPlaylist()">Create new Playlist</button>
  </div>
</ng-container>

<ng-container *ngIf="!playlists?.length">
  <app-no-result-component>
    <a routerLink="/new-playlist"><button mat-button mat-raised-button color="primary"> Create your first playlist
      </button></a>
  </app-no-result-component>
</ng-container>