<mat-card>
    <mat-card-title>Upload a new Track</mat-card-title>
    <mat-card-content>
        <div class="input-wrapper">
            <input type="file" #trackFile id="trackFile" class="ng-hide" name="trackFile"
                (change)="onFileChange($event)" accept=".mp3,audio/*" />
            <label for="trackFile" class="md-button md-raised md-primary">
                    <span>
                        <mat-icon>cloud_upload</mat-icon>
                        Chose a file
                    </span>    
            </label>
        </div>
    </mat-card-content>
</mat-card>