
<mat-card>
    <mat-card-title>Create a new playlist</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="createPlaylist()" [formGroup]="playlistForm" enctype="multipart/form-data">
            <div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Choose a name for your playlist..." formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <button type="submit" mat-raised-button color="primary">Create New Playlist</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>