<div class="playlist-info" *ngIf="playlist">
    <mat-card>
        <mat-card-content>
            <div>
                <input type="file" #playlistCover id="playlistCover" class="ng-hide" name="playlistCover"
                    (change)="onFileChange($event)" accept="image/jpeg, image/png" />
            </div>
            <div class="pl-info">
                <div>
                    <img [src]='playlistCoverUrl || defaultPlaylistUrl' alt="">
                </div>
                <div class="pl-name">
                    {{playlist.name}}
                </div>
            </div>
            <div class="pl-desc">{{playlist.description}}</div>
        </mat-card-content>
    </mat-card>
    <button mat-button mat-raised-button color="primary" (click)="openTracksDialog()">Add more Tracks</button>
</div>
<div class="tracks-list" *ngIf="playlist">
    <ng-container *ngFor="let track of playlist.tracks; let i = index">
        <app-track-line-item [track]="track" [trackIndex]="i" (currentTrack)="onPlayCommand($event)" [ngClass]="{'playingtrack' : playingTrackId == track.id}"></app-track-line-item>
    </ng-container>
</div>
<div>
    <app-player [files]="tracks" [playTrack]="currentActiveTrack"></app-player>
</div>
