:host {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-card {
        padding: 4rem;
        form {
            display: flex;
            flex-direction: column;
            .ng-hide {
                display: none;
            }
            label {
                display: flex;
                justify-content: center;
                cursor: pointer;
                height: 100px;
                border: 1px solid gray;
                border-radius: 4px;
                margin-bottom: 1rem;
                span {
                    display: flex;
                    align-items: center;
                }
            }
            img {
                height: 100px;
                object-fit: cover;
                margin-bottom: 1rem;
            }
        }
    }
}