<mat-card>
    <mat-card-title (click)="playThisTrack(track)">
        <img [src]='track.cover.url | mpImage' alt="" class="line-thumb">
        <div class="play-icon">
            <mat-icon aria-label="play icon">play_circle</mat-icon>
        </div>
        <div class="playing">
            playing
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="tracks-wrap" >
            <div class="track-name">
                {{track.name}}
            </div>
            <div class="track-artist">
                <i>By:- {{track.artist}}</i>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="showAddToPlaylistButton" mat-button mat-raised-button color="primary" (click)="openPlaylistDialog(track.id)">Add to Playlist</button>
        <button *ngIf="showViewTrackButton" mat-button mat-raised-button color="accent" (click)="goToTrack()">View Track</button>
        <mat-checkbox color="primary" *ngIf="allowSelection" (change)="selectTrack($event.checked, track)"></mat-checkbox>
    </mat-card-actions>
</mat-card>