<mat-card>
    <mat-card-title (click)="playThisTrack(track)">
        <img src='../../../assets/default_track_cover.jpeg' alt="" class="line-thumb">
        <div class="play-icon">
            <mat-icon aria-label="play icon">play_circle</mat-icon>
        </div>
        <div class="playing">
            playing
        </div>
    </mat-card-title>
    <!-- <mat-card-content (click)="goToTrack()"> -->
    <mat-card-content>
        <div class="tracks-wrap" >
            <div class="track">
                {{track.name}}
            </div>
            <div class="track">
                {{track.artist}}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="allowActions" mat-button mat-raised-button color="primary" (click)="openPlaylistDialog(track.id)">Add to Playlist</button>
        <button *ngIf="allowSelection" mat-button mat-raised-button color="primary" (click)="selectTrack(track)">Select</button>
    </mat-card-actions>
</mat-card>