mat-card {
    margin-bottom: 1rem;
    display: flex;
    mat-card-title {
        margin-bottom: 0;
        flex: .06;
    }
    mat-card-content {
        flex: .8;
        margin-bottom: 0;
        .tracks-wrap {
            display: flex;
            flex-direction: column;
            .track {
                display: flex;
            }
        }
    }
    mat-card-actions {
        flex: .14;
    }
    img {
        width: 60px;
        position: relative;
    }
    .play-icon{
        position: absolute;
        top: 16px;
        width: 60px;
        height: 60px;
        line-height: 70px;
        text-align: center;
        background: rgb(0 0 0 / 30%);
        cursor: pointer;
        transition-duration: 0.5s;
    }
    .play-icon:hover{
        background: rgb(0 0 0 / 70%); 
    }
    .playing{
        position: absolute;
        top: 16px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: rgb(0 0 0 / 30%);
        cursor: pointer;
        transition-duration: 0.5s;
        font-size: 14px;
        visibility: hidden;
    }
}
:host{
    &.playingtrack{
        mat-card{
            background-color: #c2315c;
            .play-icon{
                visibility: hidden;
            }
            .playing{
                visibility: visible;
            }
        }
    }
    
}